{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="accueil" class="nav-link " href="{{ path('app_index_homepage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a id="livraison" class="nav-link" href="{{ path('app_index_livraison') }}">Livraison</a>
            </li>
            <li class="nav-item">
                <a id="commande" class="nav-link" href="{{ path('app_index_listecommande') }}">Commandes</a>
            </li>
            <li class="nav-item">
                <a id="liste" class="nav-link" href="{{ path('app_index_listeproduit') }}">Liste des produits</a>
            </li>
            <li class="nav-item">
                <a id="ajout" class="nav-link" href="{{ path('app_index_editproduit') }}">Ajout/Suppression de produit</a>
            </li>
            <li class="nav-item">
                <a id="promo" class="nav-link active" href="{{path('app_index_promos')}}">Promotions</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path('app_admin_utilisateur_listeutilisateurs') }}">Clients</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path('app_utilisateur_connexion') }}">Connexion</a>
                </li>
            {% endif %}
        </ul>

        <h1>Promotions en cours</h1>

        <table class="table table-light table-hover" style="border-radius: 5px">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nom</th>
                <th class="text-center" scope="col">Photo</th>
                <th class="text-center" scope="col">Catégorie</th>
                <th class="text-center" scope="col">Prix</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Promotion</th>
                {% if app.user.fonction == 'Fournisseur' %}

                    <th class="text-center" scope="col">Modifier</th>
                    <th class="text-center" scope="col">Annuler la promotion</th>

                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <th id="nom" class="text-center" scope="row">{{ produit.nom }}</th>
                        <th id="nom" class="text-center" scope="row">{{ produit.photo }}</th>
                        <td class="text-center">{{ produit.categorie }}</td>
                        <td id="prix" class="text-center">{{ produit.prix }}</td>
                        <td class="text-center">{{ produit.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}