{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="accueil" class="nav-link " href="{{ path('app_index_homepage') }}">Accueil</a>
            </li>
            <li class="nav-item">
                {% if app.user.fonction == 'Fournisseur'  %}
                    <a class="nav-link" href="{{ path('app_index_livraison', {'id': app.user.societe.id}) }}">Livraison</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_index_livresto', {'id': app.user.societe.id}) }}">Livraison</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if app.user.fonction == 'Fournisseur' %}
                    <a class="nav-link active" href="{{ path('app_index_commandesfourn', {'id': app.user.societe.id}) }}">Commandes</a>
                {% else %}
                    <a class="nav-link active" href="{{ path('app_index_listecommande') }}">Commandes</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if app.user.fonction == 'Fournisseur' %}
                    <a class="nav-link active" href="{{ path('app_index_listeprodfourn', {'id': app.user.societe.id}) }}">Liste des produits</a>
                {% else %}
                    <a class="nav-link active" href="{{ path('app_index_listeproduit') }}">Liste des produits</a>
                {% endif %}
            </li>
            {% if app.user.fonction == 'Fournisseur'  %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index_editproduit', {'idsoc': app.user.societe.id}) }}">Ajout de produit</a>
                </li>
            {% endif %}
            {% if app.user.fonction == 'Restaurateur'  %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index_promos') }}">Promotions</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index_listepromofourn', {'id': app.user.societe.id}) }}">Promotions</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{ path('app_admin_utilisateur_listeutilisateurs') }}">Liste utilisateurs</a>
                </li>
            {% endif %}

        </ul>

        <h1>Promotions en cours</h1>

        <table class="table table-light table-hover" style="border-radius: 5px">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nom</th>
                <th class="text-center" scope="col">Catégorie</th>
                <th class="text-center" scope="col">Prix</th>
                <th class="text-center" scope="col">Unité</th>
                <th class="text-center" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% set soc="" %}
                {% for produit in produits %}
                    {% if soc != produit.societe.nom %}
                        {% set soc=produit.societe.nom %}
                        <tr ><th colspan="8" class="table-success text-center">{{ soc }}</th></tr>
                    {% endif %}
                    {% if produit.promotion == 'Oui' %}


                    <tr>
                        <th id="nom" class="text-center" scope="row">{{ produit.nom }}</th>
                        <td class="text-center">{{ produit.categorie }}</td>
                        <td id="prix" class="text-center">{{ produit.prix }}</td>
                        <td id="prix" class="text-center">{{ produit.unite }}</td>
                        <td class="text-center">{{ produit.description }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}