{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="{{ path('app_index_homepage') }}">Accueil</a>
        </li>
        <li class="nav-item">
            {% if app.user.fonction == 'Fournisseur'  %}
                <a class="nav-link" href="{{ path('app_index_livraison', {'id': app.user.societe.id}) }}">Livraison</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_index_livresto', {'id': app.user.societe.id}) }}">Livraison</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if app.user.fonction == 'Fournisseur' %}
                <a class="nav-link active" href="{{ path('app_index_commandesfourn', {'id': app.user.societe.id}) }}">Commandes</a>
            {% else %}
                <a class="nav-link active" href="{{ path('app_index_listecommande') }}">Commandes</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if app.user.fonction == 'Fournisseur' %}
                <a class="nav-link active" href="{{ path('app_index_listeprodfourn', {'id': app.user.societe.id}) }}">Liste des produits</a>
            {% else %}
                <a class="nav-link active" href="{{ path('app_index_listeproduit') }}">Liste des produits</a>
            {% endif %}
        </li>
        {% if app.user.fonction == 'Fournisseur'  %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_index_editproduit', {'idsoc': app.user.societe.id}) }}">Ajout de produit</a>
            </li>
        {% endif %}
        {% if app.user.fonction == 'Restaurateur'  %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_index_promos') }}">Promotions</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_index_listepromofourn', {'id': app.user.societe.id}) }}">Promotions</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_utilisateur_listeutilisateurs') }}">Liste utilisateurs</a>
            </li>
        {% endif %}
    </ul>

    <section class="col-md-8 liste">

        <h3>Promotion en cours</h3>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Nom</th>
                <th class="text-center" scope="col">Catégorie</th>
                <th class="text-center" scope="col">Prix</th>
                <th class="text-center" scope="col">Unité</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Modifier</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <th colspan="8" class="table-success text-center">{{ app.user.societe.nom }}</th>
            </tr>
            {% for produit in produits %}
                {% if produit.promotion == 'Oui' %}
                <tr>
                    <th id="nom" class="text-center" scope="row">{{ produit.nom }}</th>
                    <td class="text-center">{{ produit.categorie }}</td>
                    <td id="prix" class="text-center">{{ produit.prix }}</td>
                    <td id="prix" class="text-center">{{ produit.unite }}</td>
                    <td class="text-center">{{ produit.description }}</td>
                        <td class="text-center"><a href="{{ path('redit_produit', {'id': produit.id}) }}"><span class="btn btn-primary">Modifier</span></a></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </section>



{% endblock %}



