{% extends 'base.html.twig' %}

{% block body %}


    <h1>Commandes</h1>
    <main style="background-color: white;">


        {% for commande in societe.commandefourn %}


            {% if commande.checkfourn == 'non' %}
                <table class="table table-bordered">
                <tr>
                    <th colspan="5" class="table-success text-center">{{ commande.restaurateur.nom }}</th>
                </tr>
                <tr>
                    <td class="text-center table-info" style="font-weight: bolder" colspan="5">Commande
                        n° {{ commande.id }} Du {{ commande.date | date("d/m/Y") }} D'un montant total
                        de {{ commande.total }} €
                    </td>
                </tr>

                <tr class="thead-dark">
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Prix</th>
                    <th class="text-center" scope="col">Quantité</th>
                    <th class="text-center" scope="col">Unité</th>
                    <th class="text-center" scope="col">Total</th>
                </tr>

                <tbody>
                {% for achat in commande.achats %}
                    <tr>
                        <td class="text-center">{{ achat.produit.nom }}</td>
                        <td class="text-center">{{ achat.prix }} €</td>
                        <td class="text-center">{{ achat.quantite }}</td>
                        <td class="text-center">{{ achat.produit.unite }}</td>
                        {% set prix =achat.prix * achat.quantite %}
                        <td class="text-center">{{ prix }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

                <form action="{{ path('app_index_validlivraison', {'idcom': commande.id}) }}" method="post">
                    <div style="width: 70%" class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Date de livraison prévu : </label>
                        <div class="col-10">
                            <input class="form-control" name="date" type="date" value="" id="date">
                                <button class="btn btn-primary mb-5">Valider</button>
                        </div>

                    </div>
                </form>
            {% endif %}
        {% endfor %}

    </main>


{% endblock %}