{% extends 'base.html.twig' %}



{% block body %}

        <main style="background-color: white;">
        <h1 class="mt-4 text-center">Création produit</h1>
        <hr>
        {{ form_start(FormProduit) }}
        {{ form_row(FormProduit.nom,{'label': 'Nom du produit', 'attr': {'placeholder' : 'Nom du produit'}}) }}
        {{ form_row(FormProduit.categorie,{'label': 'Catégorie'}) }}
        {{ form_row(FormProduit.prix,{'label': 'Prix', 'attr': {'placeholder':'Prix'}}) }}
        {{ form_row(FormProduit.unite,{'label': 'Unité'}) }}
        {{ form_row(FormProduit.description,{'label': 'Description', 'attr':{'placeholder' : 'Origine, Conditionnement, si possibilité de colis renseigner poids moyen ou quantité...' }}) }}
        {{ form_row(FormProduit.promotion,{'label' : 'Promotion'}) }}
        <!--<button class="btn btn-primary" type="submit">Enregistrer</button>-->
        <input type="submit" value="Enregistrer" class="btn btn-dark btn-lg btn-block mt-4">

        {{ form_end(FormProduit) }}
</main>

{% endblock body %}