<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title> {% block title %}Bienvenue sur Commandeur!{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&display=swap" rel="stylesheet">


        <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{asset('restyle.css')}}">


    {% endblock %}


    <div class=" menu container-fluid">


<body class="home">


<h2 id="effect"></h2>


<script>

    var x =0;

    var textEffect = ".Commandeur.";
    var container = document.getElementById('effect');


    function animate () {

        if (x < textEffect.length){

            container.innerHTML+= textEffect.charAt(x);

            x++;
            setTimeout(animate,70);
        }
    }
    animate();


    var e = document.getElementById('parent');
    e.onmouseover = function() {
        document.getElementById('popup').style.display = 'block';
    }
    e.onmouseout = function() {
        document.getElementById('popup').style.display = 'none';
    }


    var u = document.getElementById('parent2');
    e.onmouseover = function() {
        document.getElementById('popup2').style.display = 'block';
    }
    e.onmouseout = function() {
        document.getElementById('popup2').style.display = 'none';
    }




</script>


<div class="col-sm-3" id="notice-disconnected"></div>


<nav class="navbar " style="min-height:10vh">

    <div><span class="navbar-brand">{{ app.user.pseudo }}</span></div>

    <div><span class="text-right " style="color: white;font-family: 'Poiret One', cursive;;font-size: large"><strong>Le  {{ date('')|date('d/m/Y')}} à {{ date('')|date('H') }} H {{ date('')| date('i')}} </strong></span></div>

    <div class="bg-dark border-info meteo">
        <span class="text-right ml-4 " id="temperature" style="color: white;font-family: 'Poiret One', cursive;font-size: large">></span>
    </div>


    <div id="parent2">

        {% if is_granted('ROLE_ADMIN') %}

            <div id="popup2">Utilisateurs</div>

            <a href="{{ path('app_admin_utilisateur_listeutilisateurs') }}" id="users"><img src="{{ asset('users.png') }}" alt=""></a>

        {% endif %}

    </div>


    <div id="parent">

        <div id="popup">Déconnexion</div>

        <a href="{{ path('app_utilisateur_deconnexion') }}" id="disconnect"><img src="{{ asset('deco.png') }}" alt=""></a>


    </div>



</nav>



    <nav class="navbar-expand-lg">

        <div class="burger1">

            <button class="burger navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

        </div>

        <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">


            <ul class="nav nav-tabs mt-5" id="media">

                <li class="nav-item mr-2">
                    <a class="nav-link " href="{{ path('app_index_index') }}">Accueil</a>
                </li>

                <li class="nav-item mr-2">
                    {% if app.user.fonction == 'Fournisseur'  %}
                        <a class="nav-link" href="{{ path('app_fournisseurs_livraison', {'id': app.user.societe.id}) }}">Livraison</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_restaurateurs_livraisonrestaurateur', {'id': app.user.societe.id}) }}">Livraison</a>
                    {% endif %}
                </li>

                <li class="nav-item mr-2">
                    {% if app.user.fonction == 'Fournisseur' %}
                        <a class="nav-link " href="{{ path('app_fournisseurs_commandesfournisseur', {'id': app.user.societe.id}) }}">Commandes</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_restaurateurs_listecommande') }}">Commandes</a>
                    {% endif %}
                </li>

                <li class="nav-item mr-2">
                    {% if app.user.fonction == 'Fournisseur' %}
                        <a class="nav-link" href="{{ path('app_fournisseurs_listeprodfourn', {'id': app.user.societe.id}) }}">Liste des produits</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_restaurateurs_listeproduit') }}">Liste des produits</a>
                    {% endif %}
                </li>

                {% if app.user.fonction == 'Fournisseur'  %}
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{{ path('app_fournisseurs_ajouterproduit', {'idsoc': app.user.societe.id}) }}">Ajout de produit</a>
                    </li>
                {% endif %}


                {% if app.user.fonction == 'Restaurateur'%}
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{{ path('app_restaurateurs_promos') }}">Promotions</a>
                    </li>
                {% else %}

                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{{ path('app_fournisseurs_promosfourn', {'id': app.user.societe.id}) }}">Promotions</a>
                    </li>
                {% endif %}

            </ul>

        </div>

    </nav>


    {% for type, messages in app.session.flashBag.all %}

        {% if type == 'error' %}
            {% set type='danger' %}
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message | raw }}
            </div>
        {% endfor %}

    {% endfor %}

    {% block body %}


        <section class="row">
        <section class="col-md-8 liste">
            <h3>Liste des produits</h3>
            <div class="row justify-content-around align-items-start">
                <form method="get">
                    <label for="societe">Par Société :  </label>
                    <select name="societe" id="societe">
                        {% for societe in societes %}
                            <option name="societe" value="{{ societe.nom }}">{{ societe.nom }}</option>
                        {% endfor %}
                    </select>
                    <a class="btn btn-info" href="{{ path('app_restaurateurs_listeproduit')}}"><button type="submit">OK</button></a>
                </form>
            </div>


            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Catégorie</th>
                    <th class="text-center" scope="col">Prix</th>
                    <th class="text-center" scope="col">Unité</th>
                    <th class="text-center" scope="col">Promotion</th>
                    <th class="text-center" scope="col">Description</th>

                    <th class="text-center" scope="col"><span class="btn btn-info">-</span> / <span
                                class="btn btn-info">+</span></th>
                    <th class="text-center" scope="col">Annuler</th>

                </tr>
                </thead>
                <tbody>

                {% if nom is  empty %}
                    {% for produit in produits %}
                        {% if soc != produit.societe.nom %}
                            {% set soc=produit.societe.nom %}
                            <tr ><th colspan="8" class="table-success text-center">{{ soc }}</th></tr>
                        {% endif %}
                        <tr>
                            <th id="nom" class="text-center" scope="row">{{ produit.nom }}</th>
                            <td class="text-center">{{ produit.categorie }}</td>
                            <td id="prix" class="text-center">{{ produit.prix }}</td>
                            <td id="unite" class="text-center">{{ produit.unite }}</td>
                            <td class="text-center">{{ produit.promotion }}</td>
                            <td class="text-center">{{ produit.description }}</td>

                            <td class="text-center">
                                <a href="{{ path('app_restaurateurs_retirerpanier', {'id': produit.id}) }}"><span id="remove"
                                                                                                         class="btn btn-info mr-1">-</span></a>


                                <input id="quantite" class="text-center" value="{% for item in items %}{% if item.produit.id == produit.id %}{{ item.quantite }}{% endif %}{% endfor %}" style="width: 15%;" type="text">


                                <a href="{{ path('app_restaurateurs_ajoutpanier', {'id': produit.id}) }}"><span id="add"
                                                                                                      class="ml-1 btn btn-info">+</span></a>
                            </td>
                            <td><a href="{{ path('app_restaurateurs_supprimerpanier', {'id': produit.id}) }}"><span class="btn btn-danger">Annuler</span></a></td>

                        </tr>

                    {% endfor %}
                {% else %}
                    {% for prod in prods %}
                        {% if soc != prod.societe.nom %}
                            {% set soc=prod.societe.nom %}
                            <tr ><th colspan="8" class="table-success text-center">{{ soc }}</th></tr>
                        {% endif %}


                        <tr>
                            <th id="nom" class="text-center" scope="row">{{ prod.nom }}</th>
                            <td class="text-center">{{ prod.categorie }}</td>
                            <td id="prix" class="text-center">{{ prod.prix }}</td>
                            <td id="unite" class="text-center">{{ prod.unite }}</td>
                            <td class="text-center">{{ prod.promotion }}</td>
                            <td class="text-center">{{ prod.description }}</td>

                            <td class="text-center">

                                <a href="{{ path('app_restaurateurs_ajoutpanier', {'id': prod.id}) }}"><span id="remove"
                                                                                                      class="btn btn-info mr-1">-</span></a>


                                <input id="quantite" class="text-center" value="{% for item in items %}{% if item.produit.id == prod.id %}{{ item.quantite }}{% endif %}{% endfor %}" style="width: 15%;" type="text">


                                <a href="{{ path('app_restaurateurs_ajoutpanier', {'id': prod.id}) }}"><span id="add"
                                                                                                   class="ml-1 btn btn-info">+</span></a>
                            </td>

                            <td><a href="{{ path('app_restaurateurs_supprimerpanier', {'id': prod.id}) }}"><span class="btn btn-danger">Annuler</span></a></td>

                        </tr>

                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </section>

        <section style="min-height: 25vh" class="col-md-4 mt-5 panier card">
            <h3>Commande</h3>

            <table>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Unité</th>
                    <th>Prix unité</th>
                    <th>Prix</th>
                </tr>
                {% for item in items %}
                    {% if soc != item.produit.societe.nom %}

                        {% set soc=item.produit.societe.nom %}
                        <tr ><th colspan="8" class="table-success text-center">{{ soc }}</th></tr>
                    {% endif %}
                    <tr>
                        <td>{{ item.produit.nom }}  </td>
                        <td>{{ item.quantite }}  </td>
                        <td>{{ item.produit.unite }}  </td>
                        <td>{{ item.produit.prix }} €  </td>
                        <td>{{ item.produit.prix * item.quantite }}  </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="row" style="position: absolute;bottom: 5vh">
                <div class="col-md-8"><h5>Total de la commande : {{ total }} €</h5></div>
                <div class="col-md-4"><a href="{{ path('app_restaurateurs_commande', {'id': app.user.societe.id}) }}"><button class="btn btn-success">Commander</button></a></div>
            </div>
        </section>
        </section>

    {% endblock body %}



{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{asset('script.js')}}"></script>

{% endblock %}
<script>


    $(document).ready(function () {

        $('#temperature').empty();


        // appel AJAX

        $.ajax(
            {
                type: "GET",

                url: 'https://api.openweathermap.org/data/2.5/weather?q=paris&appid=eef24502bad886b5c5d3b7158a13a575&units=metric',


                success: function (data) {
                    console.log(data);

                    console.log(data.weather[0]['main']);
                    //$('#temperature').html(data.main.temp + " °C");
                    if (data.weather[0]['main'] == 'Clouds') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C / </span><span style="color: white"> Min: ${Math.round(data.main.temp_min)} °C</span><spans style="color: white"> Max: ${Math.round(data.main.temp_max)} °C </span><img class="mb-2" src="{{ asset('img/nunu.png') }}" alt="meteo nuage et soleil">`)
                    } else if (data.weather[0]['main'] == 'Clear') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C</span><span style="color: white">${Math.round(data.main.temp_min)}</span><span style="color: white">${Math.round(data.main.temp_max)}</span><img class="mb-2" src="{{ asset('img/clear.png') }}" alt="soleil">`)
                    }

                    else if (data.weather[0]['main'] == 'Thunderstorm') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C</span><span style="color: white">${Math.round(data.main.temp_min)}</span><span style="color: white">${Math.round(data.main.temp_max)}</span><img class="mb-2" src="{{ asset('img/orage.png') }}" alt="meteo orage">`)
                    }

                    else if (data.weather[0]['main'] == 'Drizzle') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C</span><span style="color: white">${Math.round(data.main.temp_min)}</span><span style="color: white">${Math.round(data.main.temp_max)}</span><img class="mb-2" src="{{ asset('img/pluie.png') }}" alt="meteo plui">`)
                    }

                    else if (data.weather[0]['main'] == 'Rain') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C</span><span style="color: white">${Math.round(data.main.temp_min)}</span><span style="color: white">${Math.round(data.main.temp_max)}</span><img class="mb-2" src="{{ asset('img/moit.png') }}" alt=" meteo plui soleil">`)
                    }

                    else if (data.weather[0]['main'] == 'Snow') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C</span><span style="color: white">${Math.round(data.main.temp_min)}</span><span style="color: white">${Math.round(data.main.temp_max)}</span><img class="mb-2" src="{{ asset('img/neige.png') }}" alt="meteo neige">`)
                    }

                    else if (data.weather[0]['main'] == 'Atmosphere') {
                        $('#temperature').append(`<span style="color: white">${data.name} : ${Math.round(data.main.temp)} °C</span><span style="color: white">${Math.round(data.main.temp_min)}</span><span style="color: white">${Math.round(data.main.temp_max)}</span><img class="mb-2" src="{{ asset('img/brouillard.png') }}" alt="meteo brouillard">`)
                    }





                }
            }
        )


        $("#searchbar").autocomplete({
            source: function (request, response) {
                $.get({
                    url: "{{ path('app_search_autocomplete') }}",
                    data: {
                        query: request.term,
                    },
                    dataType: 'json',
                    method: 'get'
                }).done(function (data) {
                    response(data);
                });
            },
            delay: 100,
            minLength: 2
        })
    })
</script>


</body>

</html>


