{% extends 'base.html.twig' %}


{% block body %}



        <h1>Livraisons à venir</h1>

        {% for livraison in livraisons  %}
            {% if societe.id == livraison.commande.restaurateur.id %}
                {% if livraison.checked == 'non' %}

                <div class="card text-white bg-secondary mb-3 mt-3" >

                    <div class="card-header"><h3>{{ livraison.commande.fournisseur.nom }}</h3></div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead_dark">
                            <h5>{{ livraison.date | date('d/m/Y') }}</h5>
                            <tr>
                                <th class="text-center" scope="col">Nom</th>
                                <th class="text-center" scope="col">Prix</th>
                                <th class="text-center" scope="col">Quantité</th>
                                <th class="text-center" scope="col">Unité</th>
                                <th class="text-center" scope="col">Description</th>
                                <th class="text-center" scope="col">Total</th>
                                <th class="text-center" scope="col">Modifier</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% set tot= 0 %}
                            {% for achat in livraison.commande.achats %}

                                <tr>
                                    <td class="text-center">{{ achat.produit.nom }}</td>
                                    <td class="text-center">{{ achat.prix }} €</td>
                                    <td class="text-center">{{ achat.quantite }}</td>
                                    <td class="text-center">{{ achat.produit.unite }}</td>
                                    <td class="text-center">{{ achat.produit.description }}</td>
                                    {% set prix =achat.prix * achat.quantite %}
                                    <td class="text-center">{{ prix }} €</td>
                                    <td class="text-center"><button class="btn btn-danger"><a href="{{ path('app_restaurateurs_facturemodif', {'id': achat.id}) }}">Modifier</a></button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" class="text-right">Total de la commande :</td>
                                <td colspan="3" class="text-center">{{ livraison.commande.total }} €</td>
                            </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
                <button class="btn btn-primary"><a href="{{ path('app_index_facturecrea', {'id': livraison.id}) }}">Valider</a></button>

                {% endif %}
            {% endif %}
        {% endfor %}


{% endblock %}