{% block stylesheet %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="{{ asset('css/login_style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/create.css') }}">
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/titles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/visite.css') }}">

{% endblock %}
{% block body %}
    <div class="container animateanimated animatebackInDown" style="width: 60%">
        {% if editMode %}
            <h1 class="text-left">Modification utilisateur</h1>
        {% else %}
            <h1 class="text-left">Inscription utilisateur</h1>
        {% endif %}

        {{ form_start(form) }}

        {{ form_row(form.pseudo) }}
        {{ form_row(form.nomComplet) }}
        {{ form_row(form.fonction) }}
        {{ form_row(form.plainMdp) }}

        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Mettre à jour
            {% else %}
                Enregistrer
            {% endif %}
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
