{% extends 'base.html.twig' %}

{% block stylesheet %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&display=swap"
          rel="stylesheet">


{% endblock %}
{% block body %}
    <div class="container animateanimated animatebackInDown bcg" style="width: 60%">
        {% if editMode %}
            <h5 class="mt-4 text-center">Modification utilisateur</h5>
        {% else %}
            <h5 class="mt-4 text-center">Inscription utilisateur</h5>
        {% endif %}
        <hr>
        {{ form_start(form) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.nomComplet) }}
        {{ form_row(form.plainMdp) }}

        {% if editMode %}
            <input type="submit" value="Mettre à jour" class="btn btn-dark btn-lg btn-block">
        {% else %}
            <input type="submit" value="Enregistrer" class="btn btn-dark btn-lg btn-block">
        {% endif %}

        {{ form_end(form) }}
    </div>
{% endblock %}
